[user]
    email = igi-111@protonmail.com
    name = IGI-111
[push]
    default = simple
[core]
    editor = nvim
[github]
    user = IGI-111
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    patch = add -p
[difftool "nvim"]
    cmd = nvim -f -c "Gdiffsplit!" "$MERGED"
[merge]
    tool = nvim
[rerere]
    enabled = true
