! Layout
rofi.width:                          30
rofi.lines:                          30
rofi.columns:                        1
rofi.color-enabled:                  true
rofi.color-normal:                   #282828,#ebdbb2,#353535,#928474,#282828
rofi.color-urgent:                   #282828,#d79921,#353535,#928474,#282828
rofi.color-active:                   #282828,#ebdbb2,#353535,#928474,#282828
rofi.color-window:                   #282828,#928474
rofi.font:                           Iosevka 13
rofi.terminal:                       roxterm
rofi.levenshtein-sort:               true
rofi.fuzzy:                          true
rofi.kb-cancel:                      Escape,Control+c
