
/* #tablist-wrapper { */
/*   scrollbar-width: none; */
/* } */
#sidebar-header { display: none }
/* #tabbrowser-tabs { visibility: collapse } */

/* #sidebar-vbox { border-right: 0px !important; } */

/* #sidebar-splitter { */
/*   opacity: 0 !important; */
/*   background: var(--in-content-page-color)!important */
/* } */
/* #tablist-wrapper { */
/*   scrollbar-width: none; */
/* } */

#TabsToolbar { visibility: collapse; }
#Sidebar-Header { visibility: collapse !important; }
